<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SoftCommerce_GraphCommerceCmsSampleData">
        <sequence>
            <module name="Magento_SampleData"/>
            <module name="Magento_CatalogSampleData"/>
            <module name="Magento_BundleSampleData"/>
            <module name="Magento_ConfigurableSampleData"/>
            <module name="Magento_GroupedProductSampleData"/>
            <module name="SoftCommerce_GraphCommerceCms"/>
        </sequence>
    </module>
</config>
